<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat-app</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="page">
        <nav>
            <div class="title">Chat-app</div>
         <ul>
             <li><a href=""><i class="material-icons">person</i></a></li>
             <li><a href=""><i class="material-icons">delete</i></a></li>
             <li><a href=""><i class="material-icons">search</i></a></li>
             <li><a><i class="material-icons">menu</i></a></li>
         </ul>
        </nav>
        <div class="search-input">
            <form action="/user/find/">
            <input type="text" name="keyword" placeholder="Type Here">
            <button type="submit"><i class="material-icons">search</i></button>
            </form>
        </div>
        <div class="container">
            <% users.forEach(user=>{%>
            <div class="line"></div>
            <div class="friend">
                <div class="sameline">
                    <div class="image">
                         <img src="/uploads/<%=user.image%>">
                    </div>
                    <div class="nextline">
                        <div class="sameline">
                            <div class="name"><%=user.name%></div>
                            <div class="add-friend">
                            <a class="add" id='name=<%=user.name%>&&email=<%=user.email%>&&image=<%=user.image%>'>
                                <i class="material-icons">add</i>
                            </a>
                             </div>
                        </div>
                        <div class="previous-msg"><%=user.email%></div>
                     </div>
                </div>
            </div>
            
        <div class="line"></div>
            <%})%>
        </div>
    </div>
    <script src="/scripts/local.js"></script>
</body>
</html>